*.run
*.txt
*.pyc
*.bin
*.tsv
*.out
*.log
*.vscode
*.results
*.data
batch.sh
/test/
aaa.cpp
/build/*
/doc/build
/llm/include/unit_module/sram_manager/build/*
/llm/include/unit_module/dram_kvtable/build/*
/llm/config_generation/build/*

# /doc/make.bat
# /doc/Makefile

!**/CMakeLists.txt
!CMakeLists.txt
!/doc/requirements.txt
